<div>

  <h3 >Vue JS - Example routing</h3>

  <div>
    <p>
      import Home from 'components/Home/home';<br/> 
      import Contact from 'components/Contact/contact';<br/> 
      import NotFound from 'components/NotFound/notFound';<br/>
      <br/> 
      const routes = [<br/>
      &nbsp; {<br/>
      &nbsp;  &nbsp;  path: '/',<br/> 
      &nbsp;  &nbsp;  component: Home<br/> 
      &nbsp;  },<br/> 
      &nbsp;  {<br/> 
      &nbsp;  &nbsp;  path: '/contact',<br/> 
      &nbsp;  &nbsp;  component: Contact<br/>
      &nbsp;  },<br/> 
      &nbsp;  {<br/> 
      &nbsp;  &nbsp;  path: '*',<br/> 
      &nbsp;  &nbsp;  component: NotFound<br/> 
      &nbsp;  }<br/> 
      ];<br/>
      export default routes;<br/>
    </p>
  </div>
  
  <h4>hyperlinks to the routes</h4>
  
  <p>
  &lt;router-link tag="li" to="/home" exact&gt;<br/> 
  &nbsp;  &lt;a&gt; Home&lt;/a&gt;<br/> 
  &lt;/router-link&gt;
  </p>
  
</div>
