<div>
  <article>
    <h1>GlennPacker.net Vue.js</h1>

    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <img class="circleimage" src="~assets/images/GlennPacker.jpg">
      </div>
      <div class="col-md-9 text-justify">
        <p>Glenn Packer is a freelance contractor, working as a full-stack developer with experience in many different sectors. </p>
        <p>Based in Sussex, Glenn is available for any length of contract, anywhere in the UK or Europe.</p>
        <p>Glenn Packer can bring a wealth of knowledge and expertise to a project, either to kickstart a new one or bring new ideas to the environment.</p>
        <p>Happy to work either in an Agile environment or Waterfall, Glenn is equally equally at home running the project or contributing to the team.</p>
        <p>This website is a demo of a site using the Vue.js framework and is dedicated to the subject. Glenn first used the Vue Js framework while in contract for Lumesse in April 2017</p>
      </div>
    </div>

    <blockquote class="blockquote padding-top-xl">
      <p>"Vue provides an answer to the issue of JavaScript fatigue, and it is a worthy successor to the legacy of jQuery"</p>
      <footer>Peter Jang - Dean of instruction at Actualize</footer>
    </blockquote>
  </article>
</div>
