<div>

  <h1 class="mb-4">GlennPacker.net Vue.js</h1>

  <p>This website is a demo of using Vue.js and uses the Vue.js framework. Glenn first used the Vue Js framework while in contract for Lumesse in April 2017</p>
  <p>Glenn Packer is a freelance contractor, working as a full-stack developer with experience in many different Industry sectors.</p>
  <p>Based in Sussex, Glenn is available for any le%ngth of contract, anywhere in the UK or Europe.</p>
  
  <blockquote class="blockquote">
      <p>"Vue provides an answer to the issue of JavaScript fatigue, and it is a worthy successor to the legacy of jQuery"</p>
      <footer>Peter Jang - Dean of instruction at Actualize</footer>
  </blockquote>
  
  

</div>
