@import url('https://fonts.googleapis.com/css?family=Asap');

@font-face {
  font-family: 'logofont';
  src: url('../assets/Montez-Regular.ttf') format('truetype');
}

ol, ul {
    list-style: none;
}

.cd-header {
    height: 80px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*border-top: 3px solid red;
    width: 100%;*/
}

h1, h2, h3, h4, h5, h6, p, li {
    color: #3f475f;
}

.cd-header::after {
    clear: both;
    content: "";
    display: table;
}

.cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
}

@media only screen and (min-width: 768px) {
    .cd-header.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px);
    }
}

.cd-logo {
    float: left;
    margin-top: 28px;
}

header {
    .logo {
        padding-top: 300px;
        font-family: logofont;
        font-size: 60px;
        font-weight: bold;
        color: #505977 !important;
        text-decoration: none !important;

        span {
            color: #d00b01;
        }
    }

    .cd-3d-nav-trigger {
        position: relative;
        float: right;
        height: 45px;
        width: 45px;
        margin-top: 18px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background-color: #d00b01;

        span {
            top: 21px;
            left: 8px;
            -webkit-transition: background 0.2s 0.5s;
            -moz-transition: background 0.2s 0.5s;
            transition: background 0.2s 0.5s;
        }

        span, span::before, span::after {
            position: absolute;
            width: 28px;
            height: 3px;
            background-color: #FFF;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        span::before, span:after {
            content: '';
            left: 0;
            -webkit-transition: -webkit-transform 0.2s 0.5s;
            -moz-transition: -moz-transform 0.2s 0.5s;
            transition: transform 0.2s 0.5s;
        }

        span::before {
            bottom: 8px;
        }

        span::after {
            top: 8px;
        }
    }


    &.nav-is-visible {
        .cd-3d-nav-trigger {
            span {
                background-color: rgba(255, 255, 255, 0);
            }

            span::before, span::after {
                background-color: white;
            }

            span::before {
                -webkit-transform: translateY(8px) rotate(-45deg);
                -moz-transform: translateY(8px) rotate(-45deg);
                -ms-transform: translateY(8px) rotate(-45deg);
                -o-transform: translateY(8px) rotate(-45deg);
                transform: translateY(8px) rotate(-45deg);
            }

            span::after {
                -webkit-transform: translateY(-8px) rotate(45deg);
                -moz-transform: translateY(-8px) rotate(45deg);
                -ms-transform: translateY(-8px) rotate(45deg);
                -o-transform: translateY(-8px) rotate(45deg);
                transform: translateY(-8px) rotate(45deg);
            }
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #d00b01;
    visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
    transition: transform 0.5s 0s, visibility 0s 0.5s;

    &.nav-is-visible {
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
        -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
        transition: transform 0.5s 0s, visibility 0.5s 0s;
    }

    i {
        color: rgb(80, 89, 119);
        padding: .3em 0 .1em;
    }
}


@media only screen and (min-width: 768px) {
    .cd-3d-nav-container {
        height: 170px;
    }
}

.cd-3d-nav {
    /* this is the 3D rotating navigation */
    position: relative;
    height: 100%;
    background-color: #fff; /*#343c55*/
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.cd-3d-nav::after {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    transition: opacity 0.5s 0s, visibility 0.5s 0s;
}

.cd-3d-nav li {
    height: 100%;
    width: 20%;
    float: left;
}

.cd-3d-nav a {
    position: relative;
    display: block;
    height: 100%;
    text-align: center;
    color: transparent;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-3d-nav a::before {
    /* navigation icons */
    content: '';
    height: 32px;
    width: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: 32px 64px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cd-3d-nav a:hover {
    background-color: #fecfcc;
}

.cd-3d-nav .cd-selected a {
    background-color: #fe473e;
    color: #fe473e;


    i {
        color: #fff;
    }

    span {
        display: none;
    }
}

.cd-3d-nav {
  padding: 0;
}

.cd-3d-nav .cd-selected a:hover {
    background-color: #fecfcc;
}

.cd-3d-nav .cd-selected a::before {
    background-position: 0 -32px;
}

.nav-is-visible .cd-3d-nav {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.nav-is-visible .cd-3d-nav::after {
    /* menu cover layer - hide it when navigation is visible */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
    transition: opacity 0.5s 0s, visibility 0s 0.5s;
}

@media only screen and (min-width: 768px) {
    .cd-3d-nav a {
        padding: 3.1em 1em 0;
        color: rgb(80, 89, 119);
        font-size: 1.3rem;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* truncate text with ellipsis if too long */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cd-3d-nav a::before {
        top: 4.4em;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.cd-marker {
    /* line at the bottom of nav selected item */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 20%;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: translateZ(0) rotateX(90deg);
    -moz-transform: translateZ(0) rotateX(90deg);
    -ms-transform: translateZ(0) rotateX(90deg);
    -o-transform: translateZ(0) rotateX(90deg);
    transform: translateZ(0) rotateX(90deg);
    -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
    transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
}

.cd-marker::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit;
}

.nav-is-visible .cd-marker {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/* these are the colors of the markers - line + arrow */
.color-1 {
    color: #9a57bd;
    background-color: #9a57bd;
}

.color-2 {
    color: #c96aa4;
    background-color: #c96aa4;
}

.color-3 {
    color: #d6915e;
    background-color: #d6915e;
}

.color-4 {
    color: #5b6688;
    background-color: #5b6688;
}

.color-5 {
    color: #77cd91;
    background-color: #77cd91;
}

main {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

main h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    color: #505977;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
}

@media only screen and (min-width: 768px) {
    main.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px);
    }

    main h1 {
        font-size: 3.6rem;
        margin: 1em auto;
        color: #505977;
    }

    .cd-3d-nav .cd-selected a {
        color: #fff;
        font-size: 1.3rem;

        span {
            display: inline;
        }
    }
}

/*******************************/


.cd-header {
    margin-top: 30px;
}


/* slides */
.slide {
    margin-left: auto;
    margin-right: auto;
    height: 350px;

    article {
        width: 280px;
        float: left;
        z-index: 10;
        padding: 10px;
        background-color: #fff;
    }
}

article.main {
    padding: 20px;
}

.circleimage {
        border-radius: 50%;
        height: 260px;
        width: 260px;
    }

.home {
    .slide {
        .slide1 img {
            height: 349px;
            max-width: 600px;
            width: auto;

            .slide1 {
                float: left;
                width: 600px;
            }
        }
    }

    .panel {
        min-height: 440px;
    }
}

.frontend .slide,
.backend .slide {
    .slide1 {
        overflow: hidden;
        height: 265px;

        img {
            height: 265px;
            max-width: 600px;
            width: auto;
            float: left;
        }
    }
}

.frontend .slick-slider,
.backend .slick-slider {
    height: 270px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* home page*/
.home {
    .slider {
        margin-top: 40px;
    }

    .timeline li {
        span {
            border-radius: 50%;
            line-height: 40px;
            background-color: black;
            color: white;
            padding: 5px;
        }

        a {
            cursor: pointer;
        }

        .collapsiblepanel div {
            margin-right: 50px;
            left: 50px;
        }
    }

    .clients li {
        a {
            cursor: pointer;
        }
    }
}

.collapsiblepanel {
    display: inline;

    a {
        line-height: 40px;
    }

    div {
        position: relative;
        margin-right: 25px;
        left: 25px;
    }
}

.clientspage {
    .collapsiblepanel {
        div {
            position: relative;
            margin-right: 10px;
            left: 10px;
        }
    }

    .panel-body {
        min-height: 120px;
    }
}


form {
    input {
        &.ng-invalid.ng-touched {
            background-color: rgba(208, 11, 1, 0.18);
        }

        &.ng-valid.ng-touched {
            background-color: rgba(120, 250, 137, 0.16);
        }
    }
}

.padding-top-xs {
    padding-top: 5px;
}

.padding-top-sm {
    padding-top: 5px;
}

.padding-top-md {
    padding-top: 10px;
}

.padding-top-lg {
    padding-top: 20px;
}

.padding-top-xl {
    padding-top: 40px;
}

.margin-top-xl {
    margin-top: 40px;
}

.card{
  
}