<div>
  <h3>Components</h3>
    <p>
      The basic component
    </p>
    <p>
      import Vue from 'vue';<br/> 
      import template from './template.html';<br/>
      <br/> 
      export default Vue.extend({<br/> 
      &nbsp;  template,<br/>
      });
    </p>
    <p>
      The template should be the html for the view/partial with a single root html element often a div.
    </p>
  
  <h4>Component With data and methods</h4>
  <p>
    import Vue from 'vue';<br/>
    import template from './template.html';<br/>
    <br/>
    export default Vue.extend({<br/>
    &nbsp;  template,<br/>
    <br/>
    &nbsp;  data(){<br/>
    &nbsp;  &nbsp;  return {<br/>
    &nbsp;  &nbsp;  &nbsp;  message: 'hi'<br/>
    &nbsp;  &nbsp;  };<br/>
    &nbsp;  },<br/>
    <br/>
    &nbsp;  methods:{<br/>
    &nbsp;  &nbsp;  talk(){<br/>
    &nbsp;  &nbsp;  &nbsp;  console.write(this.message);<br/>
    &nbsp;  &nbsp;  }<br/>
    &nbsp;  }<br/>
  });<br/>
  </p>
  
  <p> There are many built in methods/funcitons built in  (including computed, lifecycle handling), full docuemntation is found on the Vue JS website. 
  </p>


</div>
