<div>
<header v-bind:class="{active:showMenu}">
      <button class="toggle-nav">
            <span v-on:click="toggleMenu()">></span>
      </button>
      <ul class="nav">
          <router-link class="nav-item" tag="li" to="/" exact>
            <a class="nav-link"><i class="fa fa-home"></i> Home</a>
          </router-link>
          <router-link class="nav-item" tag="li" to="/dev" exact>
            <a class="nav-link"><i class="fa fa-cogs"></i> Developer Resource</a>
          </router-link>
          <router-link class="nav-item" tag="li" to="/contact" exact>
            <a class="nav-link"><i class="fa fa-envelope-o"></i> Contact</a>
          </router-link>
        
          
        
<!--
          <router-link class="nav-item" tag="li" to="/posts" exact>
            <a class="nav-link"><i class="fa fa-file-text-o"></i> Posts</a>
          </router-link>
          <router-link class="nav-item" tag="li" to="/posts/create" exact>
            <a class="nav-link"><i class="fa fa-pencil"></i> Create post</a>
          </router-link>
-->
      </ul>
</header>
<div class="container">
    <router-link to="/"><a class="logo">Glenn<span>Packer</span>.net</a></router-link>
</div>
</div>
 